<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allan.appalpharead">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/cat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.alpharead.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registrar"
            android:label="@string/title_activity_registrar"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".RecuperarSenha"
            android:label="@string/title_activity_recuperar_senha"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".PaginaPrincipal"
            android:label="@string/title_activity_pagina_principal" />
        <activity
            android:name=".MinhasProvas"
            android:label="@string/title_activity_pagina_principal" />
        <activity
            android:name=".BuildQuestionOne"
            android:label="@string/title_activity_build_question_one" />
        <activity
            android:name=".FinalizarBuild"
            android:label="@string/title_activity_finalizar_build" />
        <activity
            android:name=".SearchExam"
            android:label="@string/title_activity_search_exam" />
        <activity
            android:name=".AnswerQuestionOne"
            android:label="@string/title_activity_answer_question_one" />
        <activity
            android:name=".CadastroUserActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".FinalPoint"
            android:label="@string/title_activity_final_point" />
        <activity
            android:name=".BuildQuestionTwo"
            android:label="@string/title_activity_build_question_two" />
        <activity
            android:name=".BuildQuestionThree"
            android:label="@string/title_activity_build_question_three" />
        <activity
            android:name=".BuildQuestionFour"
            android:label="@string/title_activity_build_question_four" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <activity
            android:name=".AnswerQuestionTwo"
            android:label="@string/title_activity_answer_question_two" />
        <activity
            android:name=".AnswerQuestionThree"
            android:label="@string/title_activity_answer_question_three" />
        <activity
            android:name=".AnswerQuestionFour"
            android:label="@string/title_activity_answer_question_four"></activity>
    </application>

</manifest>